---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import Main from '../../layouts/Main.astro'
import Card from '../../components/Card.astro'
import '../../styles/blog.css'

const allBlogPosts = await getCollection('blog')
// fixme: add search function
---

<Main>
<h1>Blog Posts</h1>
{allBlogPosts.length === 0 ?
<section class="centered"><span>No posts found.</span></section>
:
<ul id="posts">
{allBlogPosts
    .sort(function(a: any, b: any) { 
        return b.data.date.getTime() - a.data.date.getTime() 
    })
    .map((p: any) => (
        <li><Card
          title={p.data.title}
          date={p.data.publishDate}
          byline={p.data.byline}
          tags={p.data.tags}
          link={p.slug}
        >
        {p.data.header && <Image src={p.data.header} alt={p.data.headerAlt}/>}
        </Card></li>
    ))}
</ul>
}
</Main>
