---
import Main from '../layouts/Main.astro'
import Icon from '../components/Icon.astro'
import Project from '../components/Project.astro'
import Skill from '../components/Skill.astro'
import { Image } from 'astro:assets'
import portrait from '../assets/portrait.png'
import '../styles/main.css'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
const skills = await getCollection('skills')
const education = await getCollection('education')
const jobs = await getCollection('jobs')
---

<Main>
<section id="intro">
<article id="bio">
<h1>Hello, I'm Charles Alaras <span role="img" aria-label="waving hand">👋</span></h1>
<p>
I am a programmer, engineer, video editor, event producer, writer, and graphic designer. I value creating simplistic, efficient, and elegant solutions to problems. My interests includes computer architecture, embedded systems, low-level programming, and operating systems. My goal is to produce creative and polished projects.
</p>
</article>
<aside id="portrait">
<svg id="#circle-portrait" viewBox="0 0 100 100">
  <circle cx="50" cy="50" r="48" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1"/>
</svg>
<Image src={portrait} alt="Portrait of Charles Alaras" class="portrait"/>
</aside>
</section>
<section id="projects">
<h2>projects</h2>
<ul role="list">
{projects
  .sort(function(a, b){ return b.data.date - a.data.date })
  .slice(0, 5)
  .map(p => (
    <li><Project
      projectType={p.data.type}
      title={p.data.title}
      date={p.data.date}
      link={p.slug}
      bio={p.data.description}
      tags={p.data.tags}
    /></li>
  ))}
</ul>
<a class="link" href="/projects">
See more projects<Icon name="external-link" />
</a>
</section>
<section id="skills">
<h2>skills</h2>
<table>
{skills
  .sort(function(a, b){ return b.data.percent - a.data.percent })
  .map(s => (
    <tr>
    <td class="skill"><Icon className="skill-icon" fill=true name={s.data.icon} file="skills.svg"/><strong>{s.data.name}</strong></td>
    <td class="visual-skill">
    <div class="skill-flex">
    <div class="progress">
      <span class="progress-bar" style={`width: ${Math.ceil(s.data.percent)}%`}/>
    </div>
    <span class="project-text">{String(s.data.percent)}% of projects</span>
    </div>
    {s.data.yoe} {s.data.yoe > 1 ? "Years" : "Year"} of Experience
    </td>
    </tr>
))}
</table>
<em>*Estimated statistics, based on calculations from public and private GitHub repositories.</em>
</section>
<section id="experience">
<h2>experience</h2>
<ul role="list">
{jobs.map(j => (
  <li><details>
  <summary>
  <strong>{j.data.position}</strong> - {j.data.company}
  </summary>
  {j.data.startDate.toLocaleString('default', {month: 'long', year: 'numeric'})} - {j.data.endDate.toLocaleString('default', {month: 'long', year: 'numeric'})}
  <ul>
  {j.data.notes.map(i => (
    <li>{i}</li>
  ))}
  </ul>
  </details></li>
))}
</ul>
</section>
<section id="education">
<h2>education</h2>
<ul role="list">
{education.map(s => (
  <li><details>
  <summary>
  <strong>{s.data.degree}</strong> - {s.data.school}
  </summary>
  {s.data.startDate.toLocaleString('default', {month: 'long', year: 'numeric'})} - {s.data.endDate.toLocaleString('default', {month: 'long', year: 'numeric'})}
  <br>
  {s.data.description}
  <br>
  Cumulative GPA: {s.data.gpa}
  </details></li>
))}
</ul>
</section>
<section id="contact">
<h2>connect</h2>
<ul>
  <li id="linkedin"><a class="link" href="https://linkedin.com/in/charles-alaras" target="_blank"><Icon name="linkedin"/>Contact me on LinkedIn </a></li>
  <li id="github"><a class="link" href="https://github.com/charlesalaras" target="_blank"><Icon name="github"/>Find me on GitHub</a></li>
  <li id="blog"><a class="link" href="/blog"><Icon name="book-open"/>I also have a blog, if you're interested</a></li>
</ul>
</section>
</Main>
