---
import Icon from './Icon.astro'
import Tag from './Tag.astro'
const {
  title,
  icon = null,
  date,
  byline,
  tags,
  link,
  item = "post"
} = Astro.props

const slug = item === "post" ? "/blog/" : "/projects/"
---
<article>
<figure>
<slot/>
</figure>
<section>
<h1>{title}</h1>
<h2>{date.getDate()}-{date.getMonth() + 1}-{date.getFullYear()}</h2>
<p>{byline}</p>
<aside>
{tags.map(t => (
  <Tag content={t}/>
))}
</aside>
<footer>
<a class="link" href={`${slug}${link}`}>Go to {item}<Icon name="external-link"/></a>
{icon && <Icon name={icon}/>}
</footer>
</section>
</article>

<style>
article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  background-color: var(--secondary);
  border-radius: 0.8rem;
  justify-content: flex-start;
}
section {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1, h2, p {
  margin: 0;
}
h2 {
  font-family: "Concourse T4";
  font-size: 1rem;
  font-variant: normal;
}
aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}
figure {
  margin: 0;
  width: 100%;
  height: 50%;
}
</style>
