---
import Image from 'astro:assets'
import Icon from './Icon.astro'
import Tag from './Tag.astro'
const {
  image = null,
  imageAlt,
  title,
  icon = null,
  date,
  byline,
  tags,
  link,
  item = "post"
} = Astro.props
---
<section>
{image && <Image src={image} alt={imageAlt}/>}
<article>
<h1>{title}</h1>
<h2>{date.getDate()}-{date.getMonth() + 1}-{date.getFullYear()}</h2>
<p>{byline}</p>
<aside>
{tags.map(t => (
  <Tag content={t}/>
))}
</aside>
<a class="link" href={`/projects/${link}`}>Go to {item}<Icon name="external-link"/></a>
</article>
<footer>{icon && <Icon name={icon}/>}</footer>
</section>

<style>
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  background-color: var(--secondary);
  border-radius: 0.8rem;
  padding: 1rem;
  justify-content: space-between;
}
article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
h1, h2, p {
  margin: 0;
}
h2 {
  font-family: "Concourse T4";
  font-size: 1rem;
  font-variant: normal;
}
aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}
</style>
