---
const { title, projectPercent, yearsExp, projectGauge, yearsGauge } = Astro.props
---
<article>
<figure>
<svg class="skill-gauge" version="1.1" viewBox="0 0 35.985 33.573" xmlns="http://www.w3.org/2000/svg">
 <path class="back gauge" d="m11.642 28.991a12.7 12.7 0 0 1-5.9173-14.286 12.7 12.7 0 0 1 12.267-9.413 12.7 12.7 0 0 1 12.267 9.413 12.7 12.7 0 0 1-5.9173 14.286"/>

 <path class="inner gauge" d="m11.642 28.991a12.7 12.7 0 0 1-5.9173-14.286 12.7 12.7 0 0 1 12.267-9.413 12.7 12.7 0 0 1 12.267 9.413 12.7 12.7 0 0 1-5.9173 14.286" pathLength="1" style={`stroke-dasharray: ${projectGauge} 1;`}/>

 <path class="back gauge" d="m9.5257 32.657a16.933 16.933 0 0 1-7.8897-19.047 16.933 16.933 0 0 1 16.356-12.551 16.933 16.933 0 0 1 16.356 12.551 16.933 16.933 0 0 1-7.8897 19.047"/>

 <path class="outer gauge" d="m9.5257 32.657a16.933 16.933 0 0 1-7.8897-19.047 16.933 16.933 0 0 1 16.356-12.551 16.933 16.933 0 0 1 16.356 12.551 16.933 16.933 0 0 1-7.8897 19.047" pathLength="1" style={`stroke-dasharray: ${yearsGauge} 1;`}/>
</svg>
<slot/>
</figure>
<span>
<h3>{title}</h3>
{projectPercent}% of Projects<br/>
{yearsExp} Year{yearsExp > 1 ? "s" : ""} Experience
</span>
</article>

<style>
article {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
figure {
  width: 6rem;
  height: 6rem;
  position: relative;
  margin: 0;
}
figure svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  font-size: 1rem;
  margin: 0;
}
.skill-gauge {
  width: 6rem;
  height: 6rem;
}
.gauge {
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.inner {
  stroke: var(--primary);
}
.outer {
  stroke: var(--accent);
}
.back {
  stroke: var(--secondary);
}
</style>
