---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import Main from '../../layouts/Main.astro'
import Card from '../../components/Card.astro'
import '../../styles/projects.css'

const allProjects = await getCollection('projects')
// fixme: add a search func
---

<Main>
<h1>Projects</h1>
<ul>
{allProjects
  .sort(function(a, b){ return b.data.date.getTime() - a.data.date.getTime() })
  .map(p => (
    <li><Card
      title={p.data.title}
      icon={p.data.type}
      date={p.data.date}
      byline={p.data.description}
      tags={p.data.tags}
      link={p.slug}
      item="project"
    >
    {(p.data.header && p.data.headerAlt) ? 
    <Image src={p.data.header} alt={p.data.headerAlt}/> :
    <div/>
    }
    </Card></li>
))}
</ul>
</Main>
