---
import { getCollection } from 'astro:content'
import Main from '../../layouts/Main.astro'
import Card from '../../components/Card.astro'
import '../../styles/projects.css'

const allProjects = await getCollection('projects')
// fixme: add a search func
---

<Main>
<h1>Projects</h1>
<ul>
{allProjects
  .sort(function(a, b){ return b.data.date - a.data.date })
  .map(p => (
    <li><Card
      image={p.data.image}
      imageAlt={p.data.imageAlt}
      title={p.data.title}
      icon={p.data.type}
      date={p.data.date}
      byline={p.data.description}
      tags={p.data.tags}
      link={p.slug}
      item="project"
    /></li>
))}
</ul>
</Main>
